.homepage {
  background-color: #f4f4f4;
  color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.logo {
  width: 80px;
  height: auto;
  filter: invert(1);
}

.headerButtons .button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
}

.content {
  text-align: center;
  padding: 50px;
  background: #ffffff;
  border: #000 1px solid;
  border-color: #000;
  border-radius: 35px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.input {
  margin: 10px;
  padding: 8px;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.signupSelect {
  margin: 10px;
  padding: 8px;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.signupButton {
  margin: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.p {
  margin-top: 20px;
  /* color: black; */
}

.signupA {
  color: #1c64f2;
  text-decoration: none;
}

.signupA:hover {
  text-decoration: underline;
}


.banner-image {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 14px;
}