.homepage {
  background-color: #f4f4f4;
  color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  width: 100%;
  position: relative;
}

.logo {
  width: 80px;
  height: auto;
  filter: invert(1);
}

.signupA {
  color: #1c64f2;
  text-decoration: none;
}

.signupA:hover {
  text-decoration: underline;
}

.headerButtons .button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
}

.button:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.dashboardSection{
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
  height: 85vh;
}


.dashboardSidebar{
  height:87.5vh;
  width:20vw;
  background-color:#fff;
  position:absolute;
  z-index:1;
  overflow:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboardBarItem {
  float:left;border:none;outline:0;
  width:100%;display:block;
  padding:8px 0px 8px 16px;
  text-align:left;white-space:normal;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.dashboardBarItem:hover {
  background-color: #000;
  color: #fff;
}

.dashboardBarItemSelected {
  float:left;
  /* border:1px solid #000; */
  outline:0;
  width:100%;display:block;
  padding:8px 0px 8px 16px;
  text-align:left;white-space:normal;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  background-color:  #ddd;
  font-weight: bold;
}

.dashboardSectionMain {
  width: 80vw;
  height: 76.75vh;
  margin-left: 20vw;
  margin-top: 5vh;
}

.dashboardContent {
  text-align: left;
  padding: 50px;
  background: #ffffff;
  border: #000 1px solid;
  border-color: #000;
  border-radius: 35px;
  /* margin-top: 10%;
  margin-left: 25vw; */
  margin: 5%;
}

.dashboardSectionHeader {
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  height: 5vh;
  color: #000000;
  width: 100%;
}

.dashboardSectionButton {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
  margin-right: 45px;
  font-size: medium;
}

.dashboardSectionButton:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.dashboardSectionButtonEdit {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
  margin-right: 5px;
  font-size: small;
}

.dashboardSectionButtonEdit:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.dashboardFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.dashboardContentHeader {
  margin: 30px;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
  cursor:default;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}

.homepageContent {
  text-align: center;
  padding: 50px;
}

.container {
  display: grid;
  align-items:center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.homepageHeader {
  text-align: center;
  margin: 50px;
}

.homepagePara {
  display:inline-flex;
  margin-top: 20px;
  flex-wrap: wrap;
  font-size: large;
}

.bannerImage {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 14px;
}
  