.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #000000, #ffffff);
  }
  
  .content {
    text-align: center;
    background: #ffffff;
    padding: 25px;
    border-radius: 35px;
  }

  .h1 {
    color: black;
  }
  
  .formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
  }
  
  .input {
    margin: 10px;
    padding: 8px;
    width: 300px;
    border: 1px solid #1c64f2;
    border-radius: 4px;
  }
  
  .dropdown {
    margin: 10px;
    padding: 8px;
    width: 300px;
    border: 1px solid #1c64f2;
    border-radius: 4px;
  }
  
  .button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #1c64f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #1749c2;
  }
  
  .p {
    margin-top: 10px;
    color: black;
  }
  
  .a {
    color: #1c64f2;
    text-decoration: none;
  }
  
  .a:hover {
    text-decoration: underline;
  }
  