.dashboard {
  background-color: #f4f4f4;
  color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dashboard-header {
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  height: 5vh;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.dashboard-logo {
  width: 80px;
  height: auto;
}

.dashboard-header-buttons .dashboard-button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
}

.dashboard-button:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.dashboard-section{
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
  height: 85vh;
}

.dashboard-sidebar{
  height:84.5vh;
  width:20vw;
  background-color:#fff;
  position:absolute;
  z-index:1;
  overflow:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-bar-item {
  float:left;border:none;outline:0;
  width:100%;display:block;
  padding:8px 0px 8px 16px;
  text-align:left;white-space:normal;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.dashboard-bar-item:hover {
  background-color: #000;
  color: #fff;
}

.dashboard-bar-item-selected {
  float:left;
  /* border:1px solid #000; */
  outline:0;
  width:100%;display:block;
  padding:8px 0px 8px 16px;
  text-align:left;white-space:normal;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  background-color:  #ddd;
  font-weight: bold;
}

.dashboard-section-main {
  width: 80vw;
  height: 76.75vh;
  margin-left: 20vw;
  margin-top: 5vh;
}

.dashboard-content {
  text-align: left;
  padding: 50px;
  background: #ffffff;
  border: #000 1px solid;
  border-color: #000;
  border-radius: 35px;
  /* margin-top: 10%;
  margin-left: 25vw; */
  margin: 5%;
}

.dashboard-section-header {
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  height: 5vh;
  color: #000000;
  width: 100%;
}

.dashboard-section-button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
  margin-right: 45px;
  font-size: medium;
}

.dashboard-section-button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.dashboard-section-button-edit {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
  margin-right: 5px;
  font-size: small;
}

.dashboard-section-button-edit:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.dashboard-formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.dashboard-content-header {
  margin: 30px;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
  cursor:default;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}

.dashboard-input {
  margin: 10px;
  padding: 8px;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.signupSelect {
  margin: 10px;
  padding: 8px;
  width: 318px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.signupButton {
  margin: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  /* color: black; */
}

/* a {
  color: #1c64f2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */


.banner-image {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.dashboard-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1%;
  width: 100%;
  font-size: 14px;
  height: 5vh;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: #ddd;
  padding: 50px;
  max-width: 500px;
  border-radius: 25px;
}

.popup h2 {
  margin-top: 0;
}

.popup form {
  display: flex;
  flex-direction: column;
}

.popup label {
  margin-bottom: 5px;
}

.popup input {
  margin-bottom: 10px;
  padding: 5px;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
}

.popup-buttons button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
}