.homepage {
  background-color: #f4f4f4;
  color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.logo {
  width: 80px;
  height: auto;
}

.header-buttons .button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
}

.homepageContent {
  text-align: center;
  padding: 50px;
}

.container {
  display: grid;
  align-items:center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.homepageHeader {
  text-align: center;
  margin: 50px;
}

.homepagePara {
  display:inline-flex;
  margin-top: 20px;
  flex-wrap: wrap;
  font-size: large;
}

.banner-image {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 14px;
}
  